/* Fonts ---------------------------- */

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/SourceCodePro-Regular.ttf) format('truetype');
}


/* Global ---------------------------- */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: system, -apple-system, '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
  font-size: 14px;
  /*line-height: 1.5;*/
  /*overflow: hidden; !* Prevents rubber-band scrolling of the whole "page" *!*/
  /*color: var(--color);*/
  /*background-color: #fff; !* To cover OSes with no default background color *!*/
}

body {
  margin: 0;
  height: 100%;
}

.siteThumbnail {
    cursor: pointer;
}

.siteThumbnailImg {
    display: block;
    max-width: 230px;
    max-height: 200px;
    width: auto;
    height: auto;
}
